.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
  color: white;
  text-align: center;
}

.logo {
  width: 40%;
  max-width: 300px;
  /* margin-bottom: 20px; */
  margin-top: auto;
  transform: translateY(-50%);
}

.version-container {
  margin-top: auto;
  gap: 12px;
  display: flex;
}

.version-text {
  color: rgba(255, 255, 255, 0.40);
  text-transform: capitalize;
  font-size: 12px;
}

@media (max-width: 768px) {
  .logo {
    width: 60%;
  }

  .splash-screen {
    height: calc(100vh - 70px);
  }
}


@media (max-width: 1920px) {
  .logo {
    width: 40%;
    max-width: 500px;
    margin-bottom: 20px;
  }
}